/* montserrat-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../../../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../../../fonts/montserrat-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* allura-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Allura';
	font-style: normal;
	font-weight: 400;
	src: url('../../../fonts/allura-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* common */

* {
	text-decoration: none;
	list-style-type: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat';
	color: var(--text-dark, #181c29);
	background: var(--background-body, #ffffff);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.action-small {
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.caption {
	font-family: 'Allura';
	font-size: 24px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.05em;
}

.header1 {
	font-size: 32px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 0.175em;
	text-transform: uppercase;
}

/* header */

.header {
	padding: 12px 82px;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	z-index: 3;
	cursor: pointer;
}

.header__logo a {
	display: flex;
	align-items: center;
	padding: 8px 20px;
}

.header__logo img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	font-family: 'Montserrat';
	margin-right: 8px;
	cursor: pointer;
}

.header__link {
	display: block;
	padding: 12px 20px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__item:hover {
	color: #ff4646;
	background-color: rgba(255, 70, 70, 0.1);
	border-radius: 12px;
}

/* gifts */

.gifts {
	background-color: #ff4646;
	border-radius: 20px 20px 0 0;
	background-image: url(../../../assets/img/bg-ball.png),
		url(../../../assets/img/bg-snow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 60px 0;
	color: #ffffff;
	text-align: center;
	height: 524px;
}

.gifts__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 60px 0;
}

.gifts__text {
	margin-bottom: 12px;
}

.gifts__title {
	width: 426px;
	margin-bottom: 12px;
}

.gifts__btn {
	margin-bottom: 12px;
	background-color: #181c29;
	border-radius: 20px;
}

.gifts__btn a {
	display: flex;
	padding: 20px 32px;
}

.gifts__btn:hover {
	color: #181c29;
	background-color: #ffffff;
}
