.disabled,
.active-mod {
	pointer-events: none;
	cursor: default;
}

.gift {
	display: flex;
	background-image: url(../../assets/img/bg-garland.png);
	color: #ffffff;
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
}

/* gift */

.gift__title,
.menu__form {
	margin-bottom: 20px;
}

.gift__title {
	text-align: center;
	width: 426px;
}

.menu__form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.menu__label {
	cursor: pointer;
	display: block;
	padding: 12px 20px;
}

.menu__label:last-child {
	margin-right: 0;
}

.menu__label:hover,
.active-mod {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
}

.gift__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.gift__menu {
	display: flex;
	justify-content: center;
	gap: 12px;
	flex-wrap: wrap;
	transition: 0.5s ease;
}

.gift__menu-item {
	display: flex;
	max-width: 310px;
	height: 342px;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s ease;
	background-color: #ecf3f8;
}

.menu-img {
	object-fit: contain;
	height: 230px;
	transition: 1s;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.menu-img img {
	width: 100%;
	border-radius: 20px;
}

.gift__menu-desc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 20px;
	width: 100%;
	height: 112px;
}

.green {
	color: #06a44f;
}

.purpure {
	color: #ff43f7;
}
